html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 50vw;
}
#container {
  width: 80%;
  height: 20rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#map {
  width: 90%;
  height: 20rem;
  border: 1px solid #ccc;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form {
  text-align: center;
  margin: 2rem auto;
}
